div{
    border: 5px solid blue;
    padding: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width:1300px){
    div{
        border: 5px solid darkcyan;
    }
}

@media only screen and (max-width:1200px){
    div{
        border: 5px solid blueviolet;
    }
}

@media only screen and (max-width:1100px){
    div{
        border: 5px solid coral;
    }
}
@media only screen and (max-width:1000px){
    div{
        border: 5px solid yellowgreen;
    }
}
@media only screen and (max-width:900px){
    div{
        border: 5px solid crimson;
    }
}